# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Secrets and credentials
functions/serviceAccountKey.json
lib/services/firebase_access_token.dart
lib/config/secrets.dart
assets/json_files/service_account_credential.json

# Exceptions to above rules
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
